<%
var adCount = 0
for (var adc in lang.ads) adCount+=1
if (adc != 0) {
    var ad = lang.ads[Math.floor(Math.random() * adc)]
%>
<div class="card mt-4 d-lg-block d-none">
    <img class="card-img-top" src="/img/ads/<%- ad.img %>" alt="Ad">
    <div class="card-body">
        <p class="card-description" style="overflow-x: hidden">
            <span style="font-size: 0.75em"><%- lang.employers.words.nav_sponsored %></span><br />
            <span style="font-weight: 600; line-height: 1; white-space: nowrap; font-size: 1.05em"><%- ad.title %></span><br />
            <span style="font-size: 1em"><%- ad.description %></span>
        </p>
    </div>
</div>
<div class="card mt-4 d-block d-lg-none">
    <img class="card-img-top" src="/img/ads/<%- ad.img %>" alt="Ad">
    <div class="card-body">
        <p class="card-description" style="overflow-x: hidden">
            <span style="font-size: 0.75em"><%- lang.employers.words.nav_sponsored %></span><br />
            <span style="font-weight: 600; line-height: 1; white-space: nowrap; font-size: 1.05em"><%- ad.title %></span><br />
            <span style="font-size: 1em"><%- ad.description %></span>
        </p>
    </div>
</div>
<% } %>